*.lo
*.la
*.o
*.swp
*.log
*.sh
*.txt
.dirstamp
.libs/
.deps/
*.dSYM/
Makefile
build*/
data/
logs/

szx
testfloat_compress_fastmode1
testfloat_decompress_fastmode1
testfloat_compress_fastmode2
testfloat_decompress_fastmode2
testfloat_compress_fastmode3
testfloat_decompress_fastmode3
