*.lo
*.la
*.o
*.swp
*.log
*.sh
*.csv
*.db
*.json
.dirstamp
.libs/
.deps/
*.dSYM/
Makefile
build*/
data/
logs/

testfloat_compress
testfloat_decompress
testint_compress
testdouble_compress
testfloat_compress_fastmode1
testfloat_decompress_fastmode1
testint_decompress
testdouble_decompress
testfloat_compress_fastmode2
testfloat_decompress_fastmode2
